* {
    margin: 0;  
}

body {
    background-color: #171717; 
    color: #d3d3d3;

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

    gap: 25px; /* Adjust ? */
}

/* Styling text header at top of page */
.page_header {
    grid-column: 2 / 3;

    text-align: center;
    font-size: 3.5rem;

    margin-top: 2rem;
    margin-bottom: 3.5rem;
}

/* Adjust positioning of .popup form for form and .open_button for the button
    to open the form */
/* Button used to open new book form once clicked. */
.open_button {   
    grid-column: 2 / 3;
    place-items: center;
    
    /* To center button in middle of page */
    margin: auto;

    margin-bottom: 1.5rem;

    width: 11rem;
    height: 4rem;

    cursor: pointer;
    background-color: #1d4ed8;
    color: #d3d3d3;
    opacity: 0.85;
    
    font-weight: 700;
    font-size: 1.2em;

    border: 1px solid #1d4ed8;
    border-radius: 5px;
}

/* Add additional affects to all buttons */
button:hover{
    opacity: 1.0;
}

/* Styled to always appear in center of screen */
.popup_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border: #1d4ed8 2px solid;
}

/* Pop up form - hidden by default */
.popup_form {
    display: none;
}

/* Add styles to form */
.form_container {
    display: grid;
    max-width: 300px;
    padding: 15px;

    background-color: black;
    color: white;
}

/* Style on form header text */
.form_container h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #2951be;
}

/* Customize input fields */
.form_container input[type=text], .form_container input[type=number] {
    width: 88%;
    padding: 15px;

    /* top right bottom left */
    margin: 5px 0 22px 0;

    background-color: #27272a; /* #404040 */
    border: none;  
}

/* Customize input placeholder text */
input::placeholder {
    font-size: 1.2rem;
    color: rgb(216, 216, 216);
}

/* When the inputs get focus, change outline color */ 
.form_container input[type=text]:focus, .input_pages:focus {
    outline-color: #1d4ed8;
}

/* User input font color and size */
input, select{
    font-size: 1.2rem;
    color: rgb(216, 216, 216);
}


/* Customize checkbox input */
.checkbox_container {
    margin-bottom: 15px;
    font-size: 1.5rem; 
}

.form_container input[type=checkbox] {
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.label_complete {
    font-weight: lighter;
    font-size: 1.8rem;
    color: rgb(216, 216, 216);
}


/* Customize both button */
.form_container .btn {
    padding: 16px 20px;
    cursor: pointer;
    width: 100%;
    margin-bottom:15px;
    border: none;
    font-size: 1.2rem;
}


/* Customize submit button specifically */
.form_container .submit {
    background-color: #1d4ed8;
    color: rgb(216, 216, 216);
    opacity: 0.9;
}

/*Customize cancel button specifically */
.form_container .cancel {
    background-color: #dc2626;
    color: rgb(216, 216, 216);
    opacity: 0.9;
}

.form_container .btn:hover{
    opacity: 1.0;
}


/* Styling for book table */
.book_table {
    grid-column: 2 / 3;
    color: #d3d3d3;

    border-collapse: collapse;
    margin: 20px 0;
}

/* Styling for book table header */
.book_table_head th {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;

    padding: 12px 15px;
    border-bottom: 1px #2b5ff0 solid;
}

/* Styling for book table content */
.book_table_body td {
    font-size: 1.1rem;
    font-weight: 500;

    border-bottom: 1px solid #a3a3a3;;
    border-width: thin;
    padding: 20px 15px;
}

/* Styling for read/not read button in each row of book table */
.btn_read {
    cursor: pointer;

    color: #d3d3d3;
    background-color: #d97706;
    opacity: 0.8;

    font-weight: 600;
    font-size: 0.9rem;

    width: 6.5em;
    height: 2.5rem;

    border: 1px solid #d97706;
    border-radius: 4px;
}


/* Styling for delete button at end of each row */
.btn_delete {
    cursor: pointer;

    color: #d3d3d3;
    background-color: #e11d48;
    opacity: 0.8;
    
    font-weight: 600;
    font-size: 0.9rem;

    width: 6.5em;
    height: 2.5rem;

    border: 1px solid #e11d48;
    border-radius: 4px;
}





