* {
    margin: 0;  
}

/* Adjust positioning of .popup form for form and .open_button for the button
    to open the form */

/* Styled to always appear in center of screen */
.popup_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

/* Button used to open new book form once clicked. */
.open_button {
    background-color: #1d4ed8;
    color: #d3d3d3;
    opacity: 0.85;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2em;
    border: 1px solid #1d4ed8;
    border-radius: 5px;
    padding: 15px 30px;

    margin: 40px 0;  /* Change margin?*/
}

/* Add additional affects to all buttons */
button:hover{
    opacity: 1.0;
}

/* Pop up form - hidden by default */
.popup_form {
    display: none;
}

/* Add styles to form */
.form_container {
    display: grid;
    max-width: 300px;
    padding: 15px;

    background-color: black;
    color: white;
}

/* Style on form header text */
.form_container h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #f97316;
}

/* Customize input fields */
.form_container input[type=text], .form_container input[type=number] {
    width: 88%;
    padding: 15px;

    /* top right bottom left */
    margin: 5px 0 22px 0;

    background-color: #27272a; /* #404040 */
    border: none;  
}

/* Customize input placeholder text */
input::placeholder {
    font-size: 1.2rem;
    color: rgb(216, 216, 216);
}

/* When the inputs get focus, change outline color */ 
.form_container input[type=text]:focus, .input_pages:focus {
    outline-color: #f97316;
}

/* User input font color and size */
input, select{
    font-size: 1.2rem;
    color: rgb(216, 216, 216);
}


/* Customize checkbox input */
.checkbox_container {
    margin-bottom: 15px;
    font-size: 1.5rem; 
}

.form_container input[type=checkbox] {
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.label_complete {
    font-weight: lighter;
    font-size: 1.8rem;
    color: rgb(216, 216, 216);
}


/* Customize both button */
.form_container .btn {
    padding: 16px 20px;
    cursor: pointer;
    width: 100%;
    margin-bottom:15px;
    border: none;
    font-size: 1.2rem;
}


/* Customize submit button specifically */
.form_container .submit {
    background-color: #f97316;
    color: rgb(216, 216, 216);
    opacity: 0.9;
}

/*Customize cancel button specifically */
.form_container .cancel {
    background-color: #dc2626;
    color: rgb(216, 216, 216);
    opacity: 0.9;
}

.form_container .btn:hover{
    opacity: 1.0;
}





/* The popup form - hidden by default */
.form-popup {
    display: ;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
  
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}




/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
  
/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}